body {
    font-family: 'Poppins', sans-serif;
}
.navbar .navlink {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 16px!important;
    padding-right: 16px!important;
}

.navbar-toggler {
    outline: none;
    left: 3%;
}

.head {
    margin-top: 0%;
    padding-bottom: 15px;
}

.bg-black {
    background: black;
}

.carousel-item {
    height: 300px;
}


#categories {
    width: 100%;
}

.category-list {
    position: relative;
    left: 16.66%;
}

.text-up {
    position: relative;
    top: 20%;
    left: 50%;
}

.title-color {
    color: white;
}

.btn-color {
    background: black;
    color: gray;
}

.btn-color:hover {
    color: white;
}


.checked {
    color: orange;
}

input {
    max-width: 70px;
}
.version-menu {
    padding-top: 1.3em;
    padding-bottom: 1em;
}

.my-table{
    margin-top: 30px;
    border-top: 1px solid gray !important;
    border-bottom: 1px solid gray !important;
}

.proceed-div {
    margin-bottom: 15px;

}

.my-table > thead {
    font-weight: bold;
}

.grid-layout {
    display: grid;
    grid-template-areas: 'myAreaH'
                         'myAreaM'
                         'myAreaF';
}

.grid-layout > header {
    grid-area: myAreaH;
}

.grid-layout > main {
    grid-area: myAreaM;
}

.grid-layout > footer {
    grid-area: myAreaF;
}

td .btn {
    padding: 0;
    padding-left: 4px;
    padding-right:4px;
}



footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-top: 10vh;
}

footer a{
    font-size: 14px;
    color: gray;
}


.shrinked {
    font-size: 10px;
    color: gray;
}

.space {
    margin-bottom: 30px;
}
