body {
    font-family: 'Poppins', sans-serif;
}


.grid-layout {
    display: grid;
    grid-template-areas: 'myAreaH'
                         'myAreaM'
                         'myAreaF';
}

.grid-layout > header {
    grid-area: myAreaH;
}

.grid-layout > main {
    grid-area: myAreaM;
}

.grid-layout > footer {
    grid-area: myAreaF;
}

.navbar .navlink {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 16px!important;
    padding-right: 16px!important;
}

.navbar-toggler {
    outline: none;
    left: 3%;
}

.head {
    margin-top: 0%;
    padding-bottom: 15px;
}

.title-color {
    color: white;
}

.bg-black {
    background: black;
}

.btn-color {
    background: black;
    color: gray;
}

.btn-color:hover {
    color: white;
}

.dropdown .align-right {
    width: 5cm;
    left: auto;
    right: 0;
    margin-right: 15px;
}

.img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0.4);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

/*zoom pictutes on hover*/
.img-container:hover {
    box-shadow: 1px 0 1px 4px rgba(0,0,0,0.4);
    transform: scale(1.1);
}

.clr-black {
    color: black;
}

footer {
    width: 100%;
    bottom: 0;
}

footer a  {
    font-size: 14px;
    color: gray;
}

.shrinked {
    font-size: 10px;
    color: gray;
}

.space {
    margin-bottom: 30px;
}

.search-window {
    position: relative;
    height: 10%;
}

.wid {
    width: 99%;
}

/*----------------------------
*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.black {
    color: white;
    background-color: black;
}

.black:hover {
    color: black;
    background-color: white;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.blc {
    color: black;
    background-color: white;
    padding-left: 5px;
}

a {
    color:#212529
}