body {
    font-family: 'Poppins', sans-serif;
}

.bg-black {
    background: black;
}

#login {
    padding: 30px;
    width: 100%;
}

.wid {
    width: 100%;
}

.btn-color {
    background: black;
    color: gray;
}

.btn-color:hover {
    color: white;
}

.grid-layout {
    display: grid;
    grid-template-areas: 'myAreaH'
                         'myAreaM'
                         'myAreaF';
}

.grid-layout > header {
    grid-area: myAreaH;
}

.grid-layout > main {
    grid-area: myAreaM;
}

.grid-layout > footer {
    grid-area: myAreaF;
}

/*
.form-control:focus {
    border: 3px solid black;
    border-radius: 4px;
  } */

.login-form .form-control{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}

.login-form {
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
}

.login-form a{
    color: black;
}

.login-form button {
    color: white;
    background-color: black;
    width: 80%;
}

.border-black {
    border-color: black;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a{
    font-size: 14px;
    color: gray;
}


.shrinked {
    font-size: 10px;
    color: gray;
}

.space {
    margin-bottom: 30px;
}
